<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
    <a href="/a.hbs">ddd</a>
    <h1>hihi</h1>
    {{
        for(var i = 0; i < 10 ; i++){
            console.log(1);
        }
    }}
</body>

</html>