<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/master.css">
  <title>hihi</title>
</head>

<body>
    <a href="/a.hbs">hasdfnmm</a>
    <h1>hihsdafai</h1>
    {{{message}}}
</body>

</html>